services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_DB=ProductsDB
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

volumes:
  postgres_data: